<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="VDH_Nieuwbrief_setup" Language="1033" Version="1.0.0.0" Manufacturer="Jan Verhoeven" UpgradeCode="fa23f099-353d-49d7-b214-2738b7ec57c6">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="VDH_Nieuwbrief_setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="VDH_Nieuwbrief_setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent" Guid="{ADA6D14E-797D-48EA-A939-B026D8F8E3A0}">
				<File Id="MyExecutable" Name="$(var.VanDamHuisNieuwsbriefGenerator.TargetFileName)" Source="$(var.VanDamHuisNieuwsbriefGenerator.TargetPath)" DiskId="1" />
        <File Id="Newtonsoft_Json_dll" Name="Newtonsoft.Json.dll" Source="d:\GIT\VanDamHuisNieuwsbriefGenerator\bin\Debug\Newtonsoft.Json.dll" DiskId="1" />
        <File Id="Newtonsoft_Json_xml" Name="Newtonsoft.Json.xml" Source="d:\GIT\VanDamHuisNieuwsbriefGenerator\bin\Debug\Newtonsoft.Json.xml" DiskId="1" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
